apiVersion: v1
kind: List
metadata: {}
items:
{% for i in range(num_disk|default(4)) %}
  - apiVersion: cdi.kubevirt.io/v1alpha1
    kind: DataVolume
    metadata:
      name: netapp-volume-{{ i + 1 }}
      namespace: {{ trident_namespace }}
      annotations:
        kubevirt.io/provisionOnNode: {{ trident_worker }}
    spec:
      source:
        upload: {}
      pvc:
        storageClassName: "hostpath-provisioner"
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
{% if i <= 2   %}
            storage: 10Gi
{% else %}
            storage: 250Gi
{% endif %}
{% endfor %}
